<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fit-UP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col d-flex align-items-center">
                <p class="mb-0 phone"><span class="mailus">Phone no:</span> <a href="#">+00 1234 567</a> or <span class="mailus">email us:</span> <a href="#">emailsample@email.com</a></p>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo _fitup.png') }}" alt="Logo" style="height: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item "><a href="/home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/home/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/home/coach" class="nav-link">Coach</a></li>
                <li class="nav-item"><a href="/home/pricing" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="/home/success" class="nav-link">Stories</a></li>
                <li class="nav-item"><a href="/home/blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>

                {% if app.user %}
                    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">LogOut</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">LogIn</a></li>
                {% endif %}



            </ul>
        </div>
    </div>
</nav>


        {% block body%}

        {% endblock %}
    </div>
</div><footer class="footer" style="background-color: #ffffff; color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-5">
                <div class="row">
                    <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
                        <h2 class="footer-heading">
                            <a href="#" class="logo">
                                <img src="{{ asset('images/logo _fitup.png') }}" alt="Logo" style="height: 150px;">
                            </a>
                        </h2>
                        <p style="color: black;">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#" style="color: blue;">read more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-3 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading" style="color: black;">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Balance Body</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Physical Activity</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Fitness Program</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Healthy Food</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading" style="color: black;">About</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Staff</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Team</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Careers</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading" style="color: black;">Resources</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Security</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Global</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Charts</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4 border-left">
                        <h2 class="footer-heading" style="color: black;">Social</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Facebook</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Twitter</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Instagram</a></li>
                            <li><a href="#" class="py-1 d-block" style="color: blue;">Google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>



</body>
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/scrollax.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('js/google-map.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>




</html>